#main-container {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: auto;
  justify-items: stretch;
  grid-template-areas: "sidebar main";
}

#main {
  grid-area: main;
}
#sidebar {
  grid-area: sidebar
}


