/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body, html {
  margin: 0;
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 0;
}
